<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login system</title>
    <style>
        label{
            font-size:35px;  
            
        }
              h1 {text-align: center;}
      button {text-align: center;
      font-size:30px;}
      div {text-align: center;
      font-size:30px}
      form {text-align: center;  
      }
      p {text-align:center;}
      input{font-size:25px}
    </style>
</head>
<body>
    <div>
        <h1>Library Information System</h1>
        <h2>Welcome!</h2>
    </div>
    <form action="/login" method="post">
        <label for='account'><b>Enter Your Account Here:</b></label><br>
        <input type="text" id="account" name="account" placeholder="Your username"><br><br>
        <label for='password'><b>Enter Your Password Here:</b></label><br>
        <input type="password" id="password" name="password" placeholder="Your passward"><br><br>
    <button type="submit">Conform to login</button>
</form>
<p>Make sure you have an account here.</p>

</body>
</html>
