<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        h2 {
            text-align: center;
            padding: 20px;
        }
        ul {
            list-style-type: none;
            padding: 0;
            width: 80%;
            margin: 0 auto;
        }
        a {
            width: 100px;
            margin: 20px auto;
            color: #333;
            padding: 10px;
            text-align: center;
            text-decoration: none;
        }
        a:hover {
            color: #000;
            text-decoration: underline;
        }
    </style>
</head>
<body>
	<div class="jumbotron text-center">
	<h1>Search Library Document Information</h1>
	</div>
	<form action="/search" method="POST">
	<label for="UserName"><b>Please input UserName here:</b></label><br>
	<input type="text" id="UserName" name="UserName" placeholder="Type the UserName here" >
	<input type="submit" value="Search" />
	<p><a href='/home'>Back to home. </a></p>
</body>
</html>
